/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-footer a, button{
    margin-right: 5px !important;

}
.card-footer {
    padding-left: 0rem !important;
}

.table a, button{
    margin-right: 5px !important;

}

